$grey: #ededed;
$yellow: #f6e57a;
$red: #ba2923;
$black: #0b0b0b;
$black2: #121212;
$table_yellow: #ffde08;
$table_green: #9ccc65;
$table_blue: #b3e5fc;
$table_red: #ba2923;

@font-face {
  font-family: 'pn-reg';
  src: url('../fonts/ProximaNova-Reg.otf');
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-reg-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-reg-webfont.woff') format('woff'),
  url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-reg-webfont.svg#proxima_novaregular') format('svg');
}
@font-face {
  font-family: 'pn-it';
  src: url('../fonts/ProximaNovaRegularItalic.otf');
  src: url('../fonts/proximanovaregularitalic-webfont.eot');
  src: url('../fonts/proximanovaregularitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanovaregularitalic-webfont.woff2') format('woff2'),
  url('../fonts/proximanovaregularitalic-webfont.woff') format('woff'),
  url('../fonts/proximanovaregularitalic-webfont.ttf') format('truetype'),
  url('../fonts/proximanovaregularitalic-webfont.svg#proxima_novaregular_italic') format('svg');

}
@font-face {
  font-family: 'pn-bold';
  src: url('../fonts/ProximaNova-Bold.otf');
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-bold-webfont.svg#proxima_novabold') format('svg');

}
@font-face {
  font-family: 'pn-semibold';
  src: url('../fonts/ProximaNovaSemibold.otf');
  src: url('../fonts/proximanovasemibold-webfont.eot');
  src: url('../fonts/proximanovasemibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanovasemibold-webfont.woff2') format('woff2'),
  url('../fonts/proximanovasemibold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'pn-econdsbold';
  src: url('../fonts/ProximaNovaExCn-Sbold.otf');
  src: url('../fonts/proximanovaexcn-sbold-webfont.eot');
  src: url('../fonts/proximanovaexcn-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanovaexcn-sbold-webfont.woff2') format('woff2'),
  url('../fonts/proximanovaexcn-sbold-webfont.woff') format('woff'),
  url('../fonts/proximanovaexcn-sbold-webfont.ttf') format('truetype'),
  url('../fonts/proximanovaexcn-sbold-webfont.svg#proxima_nova_extra_condensSBd') format('svg');
}
@font-face {
  font-family: 'pn-econdbold';
  src: url('../fonts/ProximaNovaExtraCondensedBold.otf');
  src: url('../fonts/proximanovaextracondensedbold-webfont.eot');
  src: url('../fonts/proximanovaextracondensedbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanovaextracondensedbold-webfont.woff2') format('woff2'),
  url('../fonts/proximanovaextracondensedbold-webfont.woff') format('woff'),
  url('../fonts/proximanovaextracondensedbold-webfont.ttf') format('truetype'),
  url('../fonts/proximanovaextracondensedbold-webfont.svg#proxima_nova_excn_rgbold') format('svg');
}


aside .active {
  color: aqua;
}

.row0{
  margin-left: 0;
  margin-right: 0;
}
.flex{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
body{
  font-family: pn-reg;
  font-size: 18px;
}
p.h1{
  font-family: pn-semibold;
  text-transform: uppercase;
  color: #660000;
  font-size: 80px;
  white-space: nowrap;
  span{
    display: block;
  }
  span:nth-of-type(1){
    line-height: 59px;
  }
  span:nth-of-type(2){
    margin-top: 20px;
  }
  span:last-of-type{
    font-size: 52px;
    margin-bottom: 16px;
  }
}
h1{
  margin-bottom: 20px;
}
h2{
  font-size: 120px;
  font-family: pn-econdsbold;
  text-transform: uppercase;
  margin-bottom: 80px;
  z-index: 10;
  position: relative;
}
p {
  margin: 0 0 10px;
}
b{
  font-family: pn-semibold;
}
img{
  max-width: 100%;
  max-height: 100%;
}
header{
  height: 542px;
  padding-top: 48px;
  background-image: url('../img/header.png');
  background-repeat: no-repeat;
  background-position:  50% 100%;
  background-size: cover;
  .date{
    text-align: right;
  }
  p,small{
    color: $black2;
  }
  p{
    font-family: pn-semibold;
    text-transform: uppercase;
    font-size: 52px;
    margin-bottom: 0;
    line-height: 49px;
  }
  small{
    font-size: 24px;
    line-height: 23px;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
aside{
  padding-top: 170px;
  a{
    color: $black2;
    font-family: pn-semibold;
    font-size: 21px;
    display: block;
    line-height: 13px;
    padding: 15px 0;
    letter-spacing: -0.01em;
    div{
      text-align: center;
    }
  }
  a.active{
    color: $red;
    span{
      background-color: $red;
      color: #fff;
    }
  }
  a:last-child{
    font-size: 15px;
    i{
      font-style: normal;
      text-transform: uppercase;
    }
  }
  span{
    font-size: 10px;
    display: inline-block;
    padding: 0 2px;
    background-color: $table_yellow;
  }
}
.textPart{
  margin-top: 60px;
  margin-bottom: 60px;
}
section{
  margin-top: 60px;
  padding-top: 30px;

  background: rgba(243,243,243,1);
  background: -moz-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 39%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,243,243,1)), color-stop(39%, rgba(243,243,243,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 39%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 39%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 39%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 39%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff', GradientType=1 );
}
article{
  position: relative;
  padding-top: 80px;
  .logo{
    margin-bottom: 34px;
    img{
      float: right;
    }
  }
  .counter{
    color: $yellow;
    font-family: pn-econdbold;
    font-size: 300px;
    line-height: 300px;
    position: absolute;
    top: 40px;
    left: 0;

  }
  .textBlock,
  .reviews{
    z-index: 10;
    position: relative;
  }
  .textBlock h2{
    display: inline;
    font-size: 18px;
    line-height: 24px;
    font-family: pn-semibold;
    text-transform: none;
    margin: 0;
  }
  .textBlock{
    padding-left: 87px;
    margin-bottom: 15px;
    padding-bottom: 52px;
    p{
      display: inline-block;
      line-height: 24px;
    }
    p:nth-of-type(1){
      display: inline;
      &:after{
        display: block;
        content: " ";
        width: 100%;
        height: 9px;
      }
    }
  }
  .reviews{
    margin-left: -15px;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 60px;
    p{
      text-transform: uppercase;
      font-family: pn-semibold;
      font-size: 30px;
      display: inline-block;
      z-index: 10;
      position: relative;
    }
    a{
      color: $red;
      text-decoration: underline;
      margin-left: 100px;
      display: block;
      margin-top: 85px;
      font-size: 24px;
      font-family: pn-reg;
    }
    .quote{
      content: " ";
      background-image: url(../img/quote.svg);
      display: inline-block;
      width: 125px;
      height: 97px;
      background-repeat: no-repeat;
      vertical-align: middle;
      position: relative;
      top: 10px;
      right: -33px;
    }
  }
}
.review{
  font-family: pn-it;
  padding: 0 5px;
}
.owl-carousel{
  margin-top: 30px;
  margin-left: auto;
  max-width: 800px;
  padding: 0 60px;
}
.owl-nav{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  > div{
    width: 20px;
    height: 60px;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
  }
}
.owl-stage{
  display: flex;
  align-items: center;
}
.owl-prev{
  float: left;
  background-image: url(../img/prev.svg);
}
.owl-next{
  float: right;
  background-image: url(../img/next.svg);
}
footer{
  .container{
    position: relative;
  }
  margin-top: 120px;
  padding-bottom: 30px;
  position: relative;
  .table + p{
    font-size: 16px;
  }
  a{
    color: $red;
  }
  .decorator{
    position: absolute;
    left: 17.5%;
    top: -120px;
    width: 31.7%;
    height: 300px;
    background-color: #f3f3f3;
  }
}
.legend{
  margin-top: 18px;
  p{
    font-size: 16px;
    padding-left: 75px;
    &:before{
      content: " ";
      display: block;
      height: 20px;
      top: 7px;
      position: absolute;
      left: 16px;
      width: 50px;
    }
  }
  .red:before{
    background-color: $table_red;
  }
  .green:before{
    background-color: $table_green;
  }
  .blue:before{
    background-color: $table_blue;
  }
}
.table{
  overflow-x: auto;
}
table{
  width: 100%;
  margin-top: 22px;
  margin-bottom: 16px;
  td{
    padding: 9px 15px;
    border: 2px solid #fff;
  }
  tr:first-child td,
  tr td:first-child{
    background-color: $table_yellow;
    font-family: pn-semibold;
    font-size: 20px;
    white-space: nowrap;
  }
  tr td:first-child{
    padding-left: 15px;
  }
  tr:first-child td{
    text-align: center;
  }
  td.red{
    background-color: $table_red;
  }
  td.green{
    background-color: $table_green;
  }
  td.blue{
    background-color: $table_blue;
  }
}
@media screen and (max-width: 1200px){
  article{
    .counter{
      font-size: 250px;
    }
  }
  footer{
    .decorator{
      left: 25.7%;
      width: 28.6%;
    }
  }
}
@media screen and (max-width: 992px){
  header{
    background-image: url('../img/header992.png');
    height: 559px;
  }
  p.h1{
    font-size: 68px;
    span:last-of-type{
      font-size: 41px;
    }
  }
  h2{
    font-size: 100px;
  }
  .textPart{
    margin-bottom: 0;
  }
  section{
    padding-top: 0;
  }
  article{
    .textBlock{
      padding-left: 0;
      padding-bottom: 20px;
    }
    .counter{
      font-size: 230px;
      top: 0px;
    }
  }
  table{
    tr:first-child td,
    tr td:first-child,
    tr td{
      font-size: 15px;
      padding: 9px 5px;
      text-align: center;
    }
  }
  footer{
    margin-top: 60px;
    .decorator{
      height: 200px;
      top: -60px;
      left: 15px;
      width: 37.4%;
    }
  }
}
@media screen and (max-width: 768px){
  header{
    padding-top: 10px;
    height: 400px;
    .flex{
      display: block;
    }
    p{
      font-size: 30px;
      line-height: 30px;
    }
    img{
      max-width: 200px;
    }
    p.h1{
      span:nth-of-type(1){
        font-size: 44px;
        line-height: 46px;
      }
      span:nth-of-type(2){
        font-size: 44px;
        line-height: 46px;
        margin-top: 0px;
      }
      span:last-of-type{
        margin-bottom: 0;
        font-size: 26px;
      }
    }
  }
  main section.col-xs-12{

  }
  article{
    padding-top: 60px;
    .counter{
      position: static;
      font-size: 60px;
      float: left;
      line-height: 60px;
    }
    .logo{
      width: calc(100% - 60px);
      float: left;
      padding-left: 15px;
    }
    .textBlock{
      display: block;
      font-size: 15px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .reviews{
      margin: 0 -15px;
      padding: 10px 0;
      p{
        font-size: 16px;
        padding-left: 15px;
      }
      a{
        margin-top: 10px;
        margin-left: 0;
        font-size: 16px;
        padding-left: 15px;
      }
      .quote{
        display: none;
      }
    }
  }
  .owl-carousel{
    margin-top: 0;
    padding: 0 10px;
  }
  .owl-nav{
    left: -10px;
    right: -10px;
    > div{
      width: 10px;
      height: 30px;
    }
  }
  section{
    margin-top: 0;
    background: #fff;
  }
  .textPart{
    padding-left: 0;
    padding-right: 0;
  }
  h2{
    font-size: 40px;
    margin-bottom: 30px;
  }
  table{
    tr:first-child td,
    tr td:first-child,
    tr td{
      font-size: 14px;
      padding: 5px;
      text-align: center;
    }
  }
  footer{
    .decorator{
      display: none;
    }
    .table + p{
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 400px) {
  header {
    background-image: url('../img/header400.png');
    height: 559px;
  }
}