@font-face {
  font-family: 'pn-reg';
  src: url("../fonts/ProximaNova-Reg.otf");
  src: url("../fonts/proximanova-reg-webfont.eot");
  src: url("../fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-reg-webfont.woff2") format("woff2"), url("../fonts/proximanova-reg-webfont.woff") format("woff"), url("../fonts/proximanova-reg-webfont.ttf") format("truetype"), url("../fonts/proximanova-reg-webfont.svg#proxima_novaregular") format("svg"); }
@font-face {
  font-family: 'pn-it';
  src: url("../fonts/ProximaNovaRegularItalic.otf");
  src: url("../fonts/proximanovaregularitalic-webfont.eot");
  src: url("../fonts/proximanovaregularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovaregularitalic-webfont.woff2") format("woff2"), url("../fonts/proximanovaregularitalic-webfont.woff") format("woff"), url("../fonts/proximanovaregularitalic-webfont.ttf") format("truetype"), url("../fonts/proximanovaregularitalic-webfont.svg#proxima_novaregular_italic") format("svg"); }
@font-face {
  font-family: 'pn-bold';
  src: url("../fonts/ProximaNova-Bold.otf");
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_novabold") format("svg"); }
@font-face {
  font-family: 'pn-semibold';
  src: url("../fonts/ProximaNovaSemibold.otf");
  src: url("../fonts/proximanovasemibold-webfont.eot");
  src: url("../fonts/proximanovasemibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovasemibold-webfont.woff2") format("woff2"), url("../fonts/proximanovasemibold-webfont.woff") format("woff"); }
@font-face {
  font-family: 'pn-econdsbold';
  src: url("../fonts/ProximaNovaExCn-Sbold.otf");
  src: url("../fonts/proximanovaexcn-sbold-webfont.eot");
  src: url("../fonts/proximanovaexcn-sbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovaexcn-sbold-webfont.woff2") format("woff2"), url("../fonts/proximanovaexcn-sbold-webfont.woff") format("woff"), url("../fonts/proximanovaexcn-sbold-webfont.ttf") format("truetype"), url("../fonts/proximanovaexcn-sbold-webfont.svg#proxima_nova_extra_condensSBd") format("svg"); }
@font-face {
  font-family: 'pn-econdbold';
  src: url("../fonts/ProximaNovaExtraCondensedBold.otf");
  src: url("../fonts/proximanovaextracondensedbold-webfont.eot");
  src: url("../fonts/proximanovaextracondensedbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovaextracondensedbold-webfont.woff2") format("woff2"), url("../fonts/proximanovaextracondensedbold-webfont.woff") format("woff"), url("../fonts/proximanovaextracondensedbold-webfont.ttf") format("truetype"), url("../fonts/proximanovaextracondensedbold-webfont.svg#proxima_nova_excn_rgbold") format("svg"); }
aside .active {
  color: aqua; }

.row0 {
  margin-left: 0;
  margin-right: 0; }

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

body {
  font-family: pn-reg;
  font-size: 18px; }

p.h1 {
  font-family: pn-semibold;
  text-transform: uppercase;
  color: #660000;
  font-size: 80px;
  white-space: nowrap; }
  p.h1 span {
    display: block; }
  p.h1 span:nth-of-type(1) {
    line-height: 59px; }
  p.h1 span:nth-of-type(2) {
    margin-top: 20px; }
  p.h1 span:last-of-type {
    font-size: 52px;
    margin-bottom: 16px; }

h1 {
  margin-bottom: 20px; }

h2 {
  font-size: 120px;
  font-family: pn-econdsbold;
  text-transform: uppercase;
  margin-bottom: 80px;
  z-index: 10;
  position: relative; }

p {
  margin: 0 0 10px; }

b {
  font-family: pn-semibold; }

img {
  max-width: 100%;
  max-height: 100%; }

header {
  height: 542px;
  padding-top: 48px;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover; }
  header .date {
    text-align: right; }
  header p, header small {
    color: #121212; }
  header p {
    font-family: pn-semibold;
    text-transform: uppercase;
    font-size: 52px;
    margin-bottom: 0;
    line-height: 49px; }
  header small {
    font-size: 24px;
    line-height: 23px; }
  header img {
    width: 100%;
    height: 100%; }

aside {
  padding-top: 170px; }
  aside a {
    color: #121212;
    font-family: pn-semibold;
    font-size: 21px;
    display: block;
    line-height: 13px;
    padding: 15px 0;
    letter-spacing: -0.01em; }
    aside a div {
      text-align: center; }
  aside a.active {
    color: #ba2923; }
    aside a.active span {
      background-color: #ba2923;
      color: #fff; }
  aside a:last-child {
    font-size: 15px; }
    aside a:last-child i {
      font-style: normal;
      text-transform: uppercase; }
  aside span {
    font-size: 10px;
    display: inline-block;
    padding: 0 2px;
    background-color: #ffde08; }

.textPart {
  margin-top: 60px;
  margin-bottom: 60px; }

section {
  margin-top: 60px;
  padding-top: 30px;
  background: #f3f3f3;
  background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 39%, white 39%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f3f3f3), color-stop(39%, #f3f3f3), color-stop(39%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 39%, white 39%, white 100%);
  background: -o-linear-gradient(left, #f3f3f3 0%, #f3f3f3 39%, white 39%, white 100%);
  background: -ms-linear-gradient(left, #f3f3f3 0%, #f3f3f3 39%, white 39%, white 100%);
  background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 39%, white 39%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff', GradientType=1 ); }

article {
  position: relative;
  padding-top: 80px; }
  article .logo {
    margin-bottom: 34px; }
    article .logo img {
      float: right; }
  article .counter {
    color: #f6e57a;
    font-family: pn-econdbold;
    font-size: 300px;
    line-height: 300px;
    position: absolute;
    top: 40px;
    left: 0; }
  article .textBlock,
  article .reviews {
    z-index: 10;
    position: relative; }
  article .textBlock h2 {
    display: inline;
    font-size: 18px;
    line-height: 24px;
    font-family: pn-semibold;
    text-transform: none;
    margin: 0; }
  article .textBlock {
    padding-left: 87px;
    margin-bottom: 15px;
    padding-bottom: 52px; }
    article .textBlock p {
      display: inline-block;
      line-height: 24px; }
    article .textBlock p:nth-of-type(1) {
      display: inline; }
      article .textBlock p:nth-of-type(1):after {
        display: block;
        content: " ";
        width: 100%;
        height: 9px; }
  article .reviews {
    margin-left: -15px;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 60px; }
    article .reviews p {
      text-transform: uppercase;
      font-family: pn-semibold;
      font-size: 30px;
      display: inline-block;
      z-index: 10;
      position: relative; }
    article .reviews a {
      color: #ba2923;
      text-decoration: underline;
      margin-left: 100px;
      display: block;
      margin-top: 85px;
      font-size: 24px;
      font-family: pn-reg; }
    article .reviews .quote {
      content: " ";
      background-image: url(../img/quote.svg);
      display: inline-block;
      width: 125px;
      height: 97px;
      background-repeat: no-repeat;
      vertical-align: middle;
      position: relative;
      top: 10px;
      right: -33px; }

.review {
  font-family: pn-it;
  padding: 0 5px; }

.owl-carousel {
  margin-top: 30px;
  margin-left: auto;
  max-width: 800px;
  padding: 0 60px; }

.owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }
  .owl-nav > div {
    width: 20px;
    height: 60px;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block; }

.owl-stage {
  display: flex;
  align-items: center; }

.owl-prev {
  float: left;
  background-image: url(../img/prev.svg); }

.owl-next {
  float: right;
  background-image: url(../img/next.svg); }

footer {
  margin-top: 120px;
  padding-bottom: 30px;
  position: relative; }
  footer .container {
    position: relative; }
  footer .table + p {
    font-size: 16px; }
  footer a {
    color: #ba2923; }
  footer .decorator {
    position: absolute;
    left: 17.5%;
    top: -120px;
    width: 31.7%;
    height: 300px;
    background-color: #f3f3f3; }

.legend {
  margin-top: 18px; }
  .legend p {
    font-size: 16px;
    padding-left: 75px; }
    .legend p:before {
      content: " ";
      display: block;
      height: 20px;
      top: 7px;
      position: absolute;
      left: 16px;
      width: 50px; }
  .legend .red:before {
    background-color: #ba2923; }
  .legend .green:before {
    background-color: #9ccc65; }
  .legend .blue:before {
    background-color: #b3e5fc; }

.table {
  overflow-x: auto; }

table {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 16px; }
  table td {
    padding: 9px 15px;
    border: 2px solid #fff; }
  table tr:first-child td,
  table tr td:first-child {
    background-color: #ffde08;
    font-family: pn-semibold;
    font-size: 20px;
    white-space: nowrap; }
  table tr td:first-child {
    padding-left: 15px; }
  table tr:first-child td {
    text-align: center; }
  table td.red {
    background-color: #ba2923; }
  table td.green {
    background-color: #9ccc65; }
  table td.blue {
    background-color: #b3e5fc; }

@media screen and (max-width: 1200px) {
  article .counter {
    font-size: 250px; }

  footer .decorator {
    left: 25.7%;
    width: 28.6%; } }
@media screen and (max-width: 992px) {
  header {
    background-image: url("../img/header992.png");
    height: 559px; }

  p.h1 {
    font-size: 68px; }
    p.h1 span:last-of-type {
      font-size: 41px; }

  h2 {
    font-size: 100px; }

  .textPart {
    margin-bottom: 0; }

  section {
    padding-top: 0; }

  article .textBlock {
    padding-left: 0;
    padding-bottom: 20px; }
  article .counter {
    font-size: 230px;
    top: 0px; }

  table tr:first-child td,
  table tr td:first-child,
  table tr td {
    font-size: 15px;
    padding: 9px 5px;
    text-align: center; }

  footer {
    margin-top: 60px; }
    footer .decorator {
      height: 200px;
      top: -60px;
      left: 15px;
      width: 37.4%; } }
@media screen and (max-width: 768px) {
  header {
    padding-top: 10px;
    height: 400px; }
    header .flex {
      display: block; }
    header p {
      font-size: 30px;
      line-height: 30px; }
    header img {
      max-width: 200px; }
    header p.h1 span:nth-of-type(1) {
      font-size: 44px;
      line-height: 46px; }
    header p.h1 span:nth-of-type(2) {
      font-size: 44px;
      line-height: 46px;
      margin-top: 0px; }
    header p.h1 span:last-of-type {
      margin-bottom: 0;
      font-size: 26px; }

  article {
    padding-top: 60px; }
    article .counter {
      position: static;
      font-size: 60px;
      float: left;
      line-height: 60px; }
    article .logo {
      width: calc(100% - 60px);
      float: left;
      padding-left: 15px; }
    article .textBlock {
      display: block;
      font-size: 15px;
      padding-bottom: 0;
      margin-bottom: 0; }
    article .reviews {
      margin: 0 -15px;
      padding: 10px 0; }
      article .reviews p {
        font-size: 16px;
        padding-left: 15px; }
      article .reviews a {
        margin-top: 10px;
        margin-left: 0;
        font-size: 16px;
        padding-left: 15px; }
      article .reviews .quote {
        display: none; }

  .owl-carousel {
    margin-top: 0;
    padding: 0 10px; }

  .owl-nav {
    left: -10px;
    right: -10px; }
    .owl-nav > div {
      width: 10px;
      height: 30px; }

  section {
    margin-top: 0;
    background: #fff; }

  .textPart {
    padding-left: 0;
    padding-right: 0; }

  h2 {
    font-size: 40px;
    margin-bottom: 30px; }

  table tr:first-child td,
  table tr td:first-child,
  table tr td {
    font-size: 14px;
    padding: 5px;
    text-align: center; }

  footer .decorator {
    display: none; }
  footer .table + p {
    font-size: 14px; } }
@media screen and (max-width: 400px) {
  header {
    background-image: url("../img/header400.png");
    height: 559px; } }

/*# sourceMappingURL=main.css.map */
